:root {
    --transparent: rgba(0, 0, 0, .0);
    --light: hsl(0, 0%, 92%);
    --dark: hsl(0, 0%, 12%);
    --green: hsl(152, 53%, 47%);
    --red: hsl(1, 88%, 60%);

    --primary: hsl(222, 19%, 27%);
    --secondary: hsl(224, 16%, 87%);
    --tertiary: hsl(210, 30%, 74%);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    display: none!important;
}

.container {
    width: 100%;
    padding: .5rem;
}

#container-title {
    text-align: left;
    padding: .5rem;
    background-color: var(--tertiary);
}

#container-title h1 {
    font-size: 2.5rem;
    letter-spacing: .4rem;
}

#container-info ul {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 4px;
}

#container-info ul li{
    display: inline-block;
    padding: .5rem .5rem;
    width: 100%;
    margin: auto;
}

#container-info ul li:hover {
    font-weight: bold;
}

.li-btn {
    width: 100%;
    height: 100%;
    padding: .3rem;
    color: var(--primary);
    font-weight: bold;
}

.li-btn:hover, .li-btn:focus-visible {
    background-color: var(--tertiary);
    color: var(--light);
    box-shadow: 0 0 3px 2px var(--primary);
    letter-spacing: .25rem;
    text-transform: uppercase;
    transition: .25s;
}

#btn-emptyLibrary {
    color: var(--red);
}

#btn-emptyLibrary:hover, #btn-emptyLibrary:focus-visible {
    background-color: var(--red);
    color: var(--light);
}

#container-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: "Lucida Console", "Courier New", monospace;  
    font-size: 1rem;
    padding: .2rem .8rem;
    background-color: var(--light);
}

input[type=text], input[type=number] {
    width: 100%;
    border-radius: 4px;
}

input[type=text]:focus, input[type=number]:focus {
    font-size: 1.3rem;
}

#container-form form {
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--light);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 780px;
}

#success-msg {
    color: var(--green);
}

#error-msg {
    color: var(--red);
}

#container-form form div {
    margin: .5rem;
}

#reading-page-container {
    margin-left: 1.4rem!important;
    margin-right: 0!important;
}

#form-buttons, #book-editor-buttons {
    display: flex;
    justify-content: space-between;
}

#form-buttons button, #book-editor-buttons button {
    width: 25%;
    height: 1.7rem;
}

#form-buttons button:hover, #form-buttons button:focus-visible,
#book-editor-buttons button:hover, #book-editor-buttons button:focus-visible {
    color: var(--light);
    box-shadow: 0 0 3px 2px var(--light);
}

div label {
    line-height: 1.7rem;
}

#status-container label {
    line-height: 1.5rem;
}

#btn-submit:hover, #btn-submit:focus-visible,
#btn-save-edit:hover, #btn-save-edit:focus-visible {
    background-color: var(--green);
}

#btn-reset:hover, #btn-reset:focus-visible,
#btn-close:hover, #btn-close:focus-visible,
#btn-reset-value:hover, #btn-reset-value:focus-visible,
#btn-cancel-edit:hover, #btn-cancel-edit:focus-visible {
    background-color: var(--red);
}

#container-table {
    flex: 1;
    color: var(--primary);
    padding-top: 0;
}

table {
    background-color: var(--secondary);
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-size: 1.3rem;
    background-color: var(--primary);
    color: var(--secondary);
}

th {
    padding: .5rem;
    border: 1px solid var(--light);
    font-weight: normal;
}

#firstTh {
    border-top-left-radius: 5px;
}

#lastTh {
    border-top-right-radius: 5px;
}

th:hover {
    font-weight: bolder;
}

.tr-book:hover {
    background-color: white;
}

.tr-book:hover td {
    text-decoration: underline;
    height: 2.5rem;
}

td {
    padding: .2rem .3rem;
    border: 1px solid var(--light);   
}

.pages, .status, .manage {
    text-align: center;
}

#lastTh:hover, #lastTh:focus-visible {
    cursor: pointer;
    color: var(--red);
}

button {
    font-family: "Lucida Console", "Courier New", monospace;  
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
}

.middle {
    vertical-align: middle;
}

.edit{
    margin-right: 1rem;
}

.edit:hover, .edit:focus-visible {
    background-color: var(--green);
    color: var(--light);
    box-shadow: 0 0 3px 2px var(--primary);
}

.delete:hover, .delete:focus-visible {
    background-color: var(--red);
    color: var(--light);
    box-shadow: 0 0 3px 2px var(--primary);

}

footer {
    text-align: center;
    padding: .5rem;
    background-color: var(--tertiary);
}

footer p {
    color: var(--primary);
}

footer p a {
    text-decoration: none;
    outline: none;
}

footer p > a:first-of-type {
    margin-right: 1rem;
}

footer p a:hover, footer p a:focus {
    letter-spacing: .5rem;
    text-transform: uppercase;
    box-shadow: 0 0 3px 2px var(--primary);
    padding: 0 .5rem;
    transition: .25s;
}